###PROTECT FILES###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-programiste-javascript-frontend design2.html
RewriteRule moje-dane-programista-kontakt mojedane.html
RewriteRule oferta-programowania-js-javascript-frontend-strony-www mojeuslugi.html
RewriteRule wykształcenie-programista-frontend wyksztalcenie.html
RewriteRule napisz-wiadomosc-programista-oferta napisz.html